---
export interface Props {
  title: string;
  publishDate: string;
}

import Author from "./Author.astro";
import Article from "./Article.astro";
import Hint from "./Hint.astro";
import config from "../config.ts";

const { title, publishDate } = Astro.props;

const yearsTilNow =
  (new Date().valueOf() - new Date(publishDate).valueOf()) /
  (365 * 24 * 3600 * 1000);
---

<div class="layout">
  <article class="content">
    <div>
      <header>
        <p class="publish-date">{publishDate}</p>
        <h1 class="title">{title}</h1>
        {config.twitter && (
          <Author
            name={`@${config.twitter}`}
            href={`https://twitter.com/${config.twitter}`}
          />
        )}
      </header>
      <Article>
        {yearsTilNow > 2 ? (
          <Hint title="请甄别文章的时效性。" type="warning">
            <p>
              这篇文章最后更新于 <strong>{Math.round(yearsTilNow)} 年前</strong>
              ，其中所记录的信息可能已经不再合理或有效。如有任何建议，欢迎<a href={`mailto:${config.email}`}>与我联系</a>。
            </p>
          </Hint>
        ) : null}
        <slot />
        </Article>
    </div>
  </article>
</div>

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--theme-divider);
  }

  .title,
  .author,
  .publish-date {
    margin: 0;
  }

  .publish-date,
  .author {
    color: var(--theme-text-lighter);
  }

  .title {
    font-size: 2.25rem;
    font-weight: 700;
  }
</style>
