---
import { TwitterClient } from "twitter-api-client";
import fs from "node:fs/promises";
import path, { dirname } from "node:path";
import { fileURLToPath } from "node:url";
import dotenv from "dotenv";

dotenv.config();

interface Props {
  id: string;
}

const env = JSON.parse(JSON.stringify(process.env));
const twitterClient = new TwitterClient({
  apiKey: env["TWITTER_API_KEY"],
  apiSecret: env["TWITTER_API_SECRET"],
  accessToken: env["TWITTER_ACCESS_TOKEN"],
  accessTokenSecret: env["TWITTER_ACCESS_TOKEN_SECRET"],
});

const { id } = Astro.props;

let data;
const fetchedFile = path.join(
  dirname(fileURLToPath(import.meta.url)),
  `../fetched/tweets/${id}.json`
);
try {
  const content = await fs.readFile(fetchedFile, "utf-8");
  data = JSON.parse(content);
} catch (err) {
  data = await twitterClient.tweets.statusesShow({
    id: id,
    tweet_mode: "extended",
  });
  await fs.writeFile(fetchedFile, JSON.stringify(data));
}

let { full_text } = data;

if (data.in_reply_to_screen_name) {
  full_text = full_text.replace(`@${data.in_reply_to_screen_name}`, "");
}

data.entities.urls.forEach((url) => {
  full_text = full_text.replace(
    url.url,
    `<a rel="noreferrer noopener" target="_blank" href="${url.url}">${url.display_url}</a>`
  );
});

data.entities.user_mentions.forEach((mention) => {
  full_text = full_text.replace(
    `@${mention.screen_name}`,
    `<a rel="noreferrer noopener" target="_blank" href="https://twitter.com/${mention.screen_name}">@${mention.screen_name}</a>`
  );
});

data.entities?.hashtags.forEach((hashtag) => {
  full_text = full_text.replace(
    `#${hashtag.text}`,
    `<a rel="noreferrer noopener" target="_blank" href="https://twitter.com/hashtag/${hashtag.text}">#${hashtag.text}</a>`
  );
});

if (data.entities.media) {
  data.entities.media.forEach((media) => {
    full_text = full_text.replace(media.url, "");
  });
}
---

<div class="astro__tweet">
  {data.entities?.media?.length &&
    <div class='astro__tweet-media'>
      <img src={data.entities.media[0].media_url_https} alt="unknown tweet media content">
    </div>
  }

  <div class="astro__tweet-header">
    <img
      class="astro__tweet-header-profile-picture"
      src={data.user.profile_image_url_https}
      alt={`${data.user.name} profile image`}
    />
    <div class="astro__tweet-header-names">
      <div class="astro__tweet-header-names-full">
        {data.user.name}
      </div>
      <div class="astro__tweet-header-names-username">
        <a
          rel="noreferrer noopener"
          target="_blank"
          href={`https://twitter.com/${data.user.screen_name}`}
        >
          @{data.user.screen_name}
        </a>
      </div>
    </div>
    <div class="astro__tweet-header-twitter-logo">
      <a
        rel="noreferrer noopener"
        target="_blank"
        href={`https://twitter.com/${data.user.screen_name}/status/${data.id_str}`}
        ><img src="/assets/twitter.svg" width="20" /></a
      >
    </div>
  </div>
  <div class="astro__tweet-body">
    {full_text}
  </div>
</div>

<style lang="scss">
  .astro__tweet {
    display: flex;
    flex-direction: column;
    background: white;
    font-size: 0.75em;
    line-height: 1.35em;
    border-radius: 5px;
    margin: 2em auto;
    min-height: 60px;
    padding: 0px;
    border: 1px solid #efefef;
    &:hover {
      border: 1px solid darken(#efefef, 3%);
    }

    :global(div) {
      margin-bottom: 0;
    }

    &-media {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .astro__tweet-header {
      margin: 1em 0;
      align-items: center;
      padding: 0 1em;
      display: flex;
      &-profile-picture {
        height: 40px;
        min-height: 40px;
        width: 40px;
        border-radius: 50px;
        background-color: #ececec;
        margin: 0;
      }

      &-names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem;
        flex: 1 0 auto;

        &-full {
          color: #1c2022;
          font-weight: bold;
          font-size: 16px;
        }
        &-username {
          color: #697882;
          font-size: 14px;
        }
      }

      &-twitter-logo {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;

        :global(img) {
          margin: 0;
        }
      }
    }

    &-body {
      padding: 0 1rem 1rem;
      color: #1c2022;
      font-size: 16px;
      line-height: 22px;
    }

    &-date {
      font-size: 14px;
      color: #697882;
      padding: 0 1rem;
    }

    &-actions {
      display: flex;
      color: #aab8c2;
      font-size: 14px;
      &-button {
        padding: 1rem;
      }
    }
  }
</style>
